:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    /* Desktop */

position: relative;
width: 100vw;
height: 100vh;
margin: 0;
background-color: var(--backgrond);
}

header {
    position:relative;
width: 918px;
height: 50px;
margin-left: 280px;
margin-top: 50px;


}

#logo {
    position: absolute;
width: 43.06px;
height: 50px;
margin-left: 0px;
margin-top: 0px;


}

/* Menu-header */
.menu-list {
    position: absolute;
width: 431.35px;
height: 19px;
margin-left: 200px;
margin-top: 14.5px;


}

/* Lista do Menu do header */

.menu-list ul ol {
    display: inline;
    justify-content: space-between;
    margin: 0 18px;
   

}

.menu-list ul ol a {
    color: var(--text-color);
    text-decoration: none;
}

.menu-list ul .home {
    /* position: absolute; */
width: 43.24px;
height: 19px;
margin-left: 0;


font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
letter-spacing: 0.02em;
}

.menu-list ul .lojas {
 width: 41.08px;
height: 19px;
margin-right: 0;



font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
letter-spacing: 0.0
}

/* Botão */

.btn {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 11px 38px;

position: absolute;
width: 172px;
height: 37px;
margin-left:744px ;
margin-top: 5px;


border: 1px solid #8257E5;
box-sizing: border-box;
border-radius: 6px;
}

.pegar {
    position: static;
width: 96px;
height: 15px;
left: 38px;
top: 11px;
background: none;
border: none;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 11px;
line-height: 15px;
/* identical to box height */

letter-spacing: 0.02em;

color: var(--text-color);


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}

/* Main */


.blur-left{
    position: absolute;
width: 321px;
height: 321px;
margin-left: -29px;
margin-top: 495px;

background: #996DFF;
filter: blur(400px);
}

.blur-right {
    position: absolute;
width: 321px;
height: 321px;
margin-left: 1200px;
margin-top: -100px;

background: #996DFF;
filter: blur(400px);
}